<!DOCTYPE html><html><body><center>

<h1>Search</h1>

{{template "nav"}}

<form action="/videos" method="get">
    <input type="text" name="searchTerm"></input>
    <input type="submit"></input>
</form>

